*.class
*.log

*.lock
**/vendor/
.yarn-integrity
**/.phpunit.cache/
**/target/
**/.bloop/
**/.bsp/
**/.metals/
**/project/
**/target/
**/.vscode/
**/__pycache__/
*.war
**/.scannerwork/
**/node_modules/

target/
*.iml
**/.idea/*

